
input{
    margin-bottom: 15px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    width: 150px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 2px 2px rgb(118, 129, 122) ;
}



.Email{
    display: block;
    width: 310px;
}

.Signup{
    width: 310px;
    height: 40px;
    border-radius:6px;
    border:none;
    background-color: rgb(33, 101, 236);
    font-size: 17px;
    font-weight: bold;
    color:white;
    box-shadow: 1px 2px 2px rgb(234, 234, 234) ;
}

input:active{
    border: none;
}